@using TASKWAVE.WEB.Components.Layout
@page "/Ambientes"
@layout AmbienteLayout
@inject HttpClient Http


<h2>Meus Ambientes</h2>

<form @onsubmit="CriarAmbiente">
    <div class ="formulario">
        <label>Nome do Ambiente</label>
        <input type="text" @bind="environmentName" placeholder="Digite o nome do ambiente" />

        <label>Descrição do Ambiente</label>
        <textarea @bind="environmentDescription" placeholder="Breve descrição do ambiente"></textarea>

        <button type="submit">Criar Ambiente</button>
    </div>

</form>

@code {

    public string environmentName { get; set; }
    public string environmentDescription { get; set; }

    private async Task CriarAmbiente()
    {
        var novoAmbiente = new { Nome = environmentName, Descricao = environmentDescription };

        var response = await Http.PostAsJsonAsync("api/Ambiente", novoAmbiente);
        if (response.IsSuccessStatusCode)
        {
            Console.WriteLine("Ambiente criado com sucesso!");
        }
        else
        {
            Console.WriteLine("Deu ruim!!!");
        }
    }
}