@page "/counter"
@rendermode InteractiveServer
@inject HttpClient Http

<h3>Ambientes</h3>

<ul>
    @if (ambientes is not null)
    {
        foreach (var u in ambientes)
        {
            <li>@u.environmentName -> @u.environmentDescription</li>
        }
    }
</ul>

@code {
    private List<AmbienteResponse>? ambientes;

    protected override async Task OnInitializedAsync()
    {
        ambientes = await Http.GetFromJsonAsync<List<AmbienteResponse>>("api/Ambiente");
    }

    public class AmbienteResponse
    {
        public string environmentName { get; set; }
        public string environmentDescription { get; set; }
    }
}
