@inherits LayoutComponentBase
@inject HttpClient Http

<link rel="stylesheet" href="bootstrap/site.css" />

<div class="header">
    <a href="#">Tarefas</a>
    <a href="#">Projetos</a>
    <a href="#">Equipes</a>
    <input type="text" placeholder="Buscar..." />
    </div>

<div class="sidebar">
    <p>+ Criar Ambiente</p>
    <p>🛠️ Gerenciar Ambientes</p>
</div>

<div class="content">
    @Body
</div>

