@page "/Equipe"
@rendermode InteractiveServer
@inject HttpClient Http

<h3>CriarEquipe</h3>

<div>
	<button @onclick="Botao" >Testa ai</button>

	@foreach (var environment in equipes)
	{
		<tr>
			<td>@environment.teamName</td>
			<td>@environment.teamDescription</td>
			<td>@environment.sectorId</td>
		</tr>
	}

</div>




@code {

	List<EquipeResponse>? equipes = new();

	async Task Botao()
	{
		equipes = await Http.GetFromJsonAsync<List<EquipeResponse>>("api/Equipe");
	}

}
